extends ../layouts/application.pug

block header
  = t('views.users.new.signUp')

block content
  div.row.justify-content-center
    div.col-12.col-md-8
      div.card.shadow-sm
        div.card-body.row.p-5
          div.col-12.col-md-6.d-flex.align-items-center.justify-content-center
            img.rounded-circle(src='/images/pict1.jpg' alt='Avatar')
          div.col-12.col-md-6.mt-3.mt-mb-0
            +formFor()(action=route('users') method='post')
              +input(user, 'firstName', errors)(type="text")
              +input(user, 'lastName', errors)(type="text")
              +input(user, 'email', errors)(type="text")
              +input(user, 'password', errors)(type="password")
              +submit(user)(value=t('views.users.new.submit'))

