extends ../layouts/application.pug

block header 
  =t('views.statuses.statuses')
  
block headerAction
  a.btn.btn-primary(href="/statuses/new")= t('views.statuses.create')

block content
  div.table-responsive
    table.table.table-borderless.table-striped.mt-5.bg-white
      thead
        tr
          th= t('views.statuses.id')
          th= t('views.statuses.name')
          th= t('views.statuses.createdAt')
      tbody
        each status in statuses
          